.on {
    background-color: green;
}

.off {
    background-color: #f1f1f3;
}

.element {
    border: 0.05vw solid #dbdbdd;
    width: 4.0vh;
    height: 4.0vh;
    min-width: 4.0vh;

}

.row-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.grid-container {
    position: relative;
    top: 13vh;
}

.screen {
    background-color: #dbdbdd;
}

:root {
    background-color: #dbdbdd
}

.navbar-color {
    background-color: grey;

}

.navbar-text {
    color: midnightblue !important;
    font-weight: bold;

}

.transparent {
    background-color: transparent;
}


.nav-title {
    font-weight: bold;
    font-family: Avenir, serif;
}

.text-red {
    color: #5e1622 !important;
}
