.on {
    background-color: green;
}

.off {
    background-color: #f1f1f3;
}

.element {
    border: 0.05vw solid #dbdbdd;
    width: 4.2vh;
    height: 4.2vh;
}

.row-container {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3vh;
}

.screen {
   background-color: #dbdbdd;
    display: flex;
    flex-direction: column;
}

:root {
    background-color: #dbdbdd
}

.navbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    height: 7.5vh;
    margin-right: 0.50vw;
    margin-left: 0.50vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.25vw;
}

.navbar {
    padding-left: 1.5vw;
    width: 100vw;
    height: 10vh;
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: left;

}