.on {
    background-color: green;
}

.off {
    background-color: #f1f1f3;
}

.element {
    border: 0.05vw solid #dbdbdd;
    width: 4.0vh;
    height: 4.0vh;
    min-width: 4.0vh;

}

.row-container {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 13vh;
}

.screen {
    background-color: #dbdbdd;
}

:root {
    background-color: #dbdbdd
}

.navbtn {
    background-color: #00113f;
    border: none;
    color: darkgrey;
    font-size: 3vh;
    height: 7vh;
    margin-right: 1vw;
    margin-left: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 0.25vw;
    align-self: center;
    justify-self: center;
}

.navbar {
    padding-left: 1.5vw;
    width: 100vw;
    height: 10vh;
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

.nav-title {
    font-weight: bold;
    font-style: italic;
    font-family: Avenir;
    color: lightgrey;
    font-size: 4vh;
}
.left {
    width: 33.3vw;
    justify-content: center;
    display: flex;
}

.center {
    width: 33.3vw;
    justify-content: center;
    display: flex;
}

.right {
    width: 33.3vw;
    justify-content: center;
    display: flex;

}

.btn-red {
    background-color: #5e1622;
}